<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <header>
        <div class="top-bar">
            <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de ML"></a>
            <p class="search-bar"> <input type="text" placeholder="Buscar productos,marcas"><button> <i
                        class="fas fa-search"></i> </button> </p>
            <p class="quote"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjetas de credito</p>
        </div>
        <nav class="listas">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="register.html">Crea tu cuenta </a> <i class="far fa-id-card"></i></li>
                <li><a href="login.html">Ingresa </a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis compras </a> <i class="fas fa-shopping-basket"></i></li>
            </ul>

            <nav class="burger-menu">
                <button> <i class="fas fa-bars"></i> </button>
            </nav>
        </nav>
    </header>
    <main class="home">
        <div><img class="banner" src="/images/img-home-banner.jpg" width="100%" alt="Imagen con ofertas">
        </div>
        <nav class="category"> 
            <label for="category">Categoria</label>
            <select name="categoria" id="category">
                <option value="hogar">Hogar</option>
                <option value="electro">Electro</option>
                <option value="indumentaria">Indumentaria</option>
                <option value="informatica">Informatica</option>
            </select>
        </nav>
        <h3 class="section-title">Basado en tu ultima visita</h3>
        <section>
            <article class="card">
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="descript">
                    <label> <p class="precio">$6.770</p> </label>
                    <label> <p class="descuentos">40% OFF</p> </label>
                    <label> <h5 class="descripciones">Cafetera Moulinex</h5> </label>
                    </div>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="Foto de Macbook Pro">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="descript">
                    <label><p class="precio">$230.000</p></label>
                    <label><p class="descuentos">20% off</p></label>
                    <label><h5 class="descripciones">MacBook Pro 2019</h5></label>
                    </div>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Foto de Samsung Galaxy S10">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="descript">
                    <label><p class="precio">$70.500</p></label>
                    <label><p class="descuentos">10% OFF</p></label>
                    <label><h5 class="descripciones">Samsung Galaxy S10</h5></label>
                    </div>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="Foto de Samsung Smart">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="descript">
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h5 class="descripciones">SmartTv Samsung 43"</h5>
                    </div>
                </div>
            </article>
        </section>
        <h3>Ofertas</h3>
        <section>
            <article class="card" class="card">
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Foto de cafetera Moulinex">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="descript">
                    <label><p class="precio">$6.770</p></label>
                    <label><p class="descuentos">40% OFF</p></label>
                    <label><h5 class="descripciones">Cafetera Moulinex</h5></label>
                    </div>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-macbook-pro-2019.jpg" width="100%" alt="Foto de Macbook Pro">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="descript">
                    <label><p class="precio">$230.000</p></label>
                    <label><p class="descuentos">20% off</p></label>
                    <label><h5 class="descripciones">MacBook Pro 2019</h5></label>
                    </div>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Foto de Samsung Galaxy S10">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="descript">
                    <label><p class="precio">$70.500</p></label>
                    <label><p class="descuentos">10% OFF</p></label>
                    <label><h5 class="descripciones">Samsung Galaxy S10</h5></label>
                    </div>
                </div>
            </article>
            <article class="card">
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="Foto de Samsung Smart">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="descript">
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% OFF</p>
                    <h5 class="descripciones">SmartTv Samsung 43"</h5>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer-card">
        <article class="card">
            <div class="icono"><i class="fas fa-credit-card"></i></div>
            <h5> Pagá con tarjeta o en efectivo </h5>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article class="card">
            <div class="icono"> <i class="fas fa-gift"></i> </div>
            <h5>Envío gratis desde $ 2.500</h5>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article class="card">
            <div class="icono"><i class="fas fa-user-shield"></i> </div>
            <h5>Seguridad, de principio a fin</h5>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
    </footer>
    <p class="copy">Copyright ©️ 1999-2020 MercadoLiebre S.R.L.</p>
</body>
<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-credit-card"></i>
					<h2>Pagá con tarjeta o en efectivo</h2>
					<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
						es seguro!</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-gift"></i>
					<h2>Envío gratis desde $ 1.999</h2>
					<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
						de Mercado Puntos.</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-user-shield"></i>
					<h2>Seguridad, de principio a fin</h2>
					<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
						protegido.</p>
				</article>
			</div>
		</div>
	</div>
</footer>
<div class="sub-footer">
	<div class="container">
		<p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
	</div>
</div>
</html>